body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
img {
    width: 40%; /* 画像の幅を元の40%にする */
    display: inline-block; /* 横に並べる */
    margin: 5px; /* 画像間の余白 */
    vertical-align: top; /* 画像のトップを揃える */
}

.image-container {
    text-align: center; /* 画像を中央揃えにする */
}
