body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header h1 {
    color: white; /* 文字の色を白に変更 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    list-style-type: none;
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 150px;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

img {
    width: 40%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
